<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About-Rose</title>
</head>
<body>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis commodi cum eaque eius est fugiat laborum
quae! Aliquam aperiam architecto, assumenda autem beatae culpa cupiditate dicta, dolore, eaque est eum ex expedita
facere ipsa itaque magni modi necessitatibus optio possimus quaerat quam qui quibusdam quod reprehenderit rerum saepe
tempore tenetur velit voluptatem voluptates. Animi asperiores dignissimos eius eos error, eveniet exercitationem fugit
id ipsa ipsum laboriosam nisi nulla obcaecati, officiis quos reprehenderit suscipit, vel vitae! Assumenda aut
consectetur cumque distinctio doloremque dolores doloribus dolorum ducimus eius, eligendi excepturi ipsam molestiae
natus odit perferendis, perspiciatis placeat quae quidem quo voluptate.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium adipisci aliquam beatae corporis
cupiditate dignissimos distinctio dolor dolore dolorem dolores et iste itaque iure iusto labore laboriosam laudantium
magni maxime molestiae necessitatibus nesciunt nihil, numquam obcaecati odio odit omnis optio possimus praesentium
quisquam reiciendis sint tempora, tempore. Amet aspernatur culpa, cum enim exercitationem fugiat hic itaque minima modi
nulla quam quasi quidem ratione tempore voluptatem! A aperiam distinctio fugit laudantium nisi nulla odit sapiente
temporibus vel velit! Beatae consectetur doloribus nisi officiis quas tempora, velit! Aperiam blanditiis, consequuntur
corporis cum cupiditate eaque fugit hic nobis numquam reiciendis sapiente sed.
<a href="/">
<img src="images/rose.webp" alt="rose-image">
</a>
</body>
</html>